body {
    display: flex;
    align-items: center;
    justify-content: center;
}


#renderCanvas {
    width: 50vw;
    height: 90vh;
    touch-action: none;
}


.allCharts {
    width: 45vw;
    height: 90vh;
    border: solid black 1px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.chartContainer{
    margin-bottom: 10px;
    height: 20vh;
    width: 100%;
}

.launchButton {
    position: absolute;
    top: 10px;
    left: 40px;
}

.cdWrapper {
    position: absolute;
    top: 10px;
    left: 100px;
}


