body {
    display: flex;
    align-items: center;
    justify-content: center;
}


#renderCanvas {
    width: 50vw;
    height: 70vh;
    touch-action: none;
}


.allCharts {
    width: 45vw;
    height: 100%;
    border: solid black 1px;
    display: flex;
    align-content: stretch;
    justify-content: stretch;
    flex-direction: column;
}

